<div class="bg-dark text-secondary px-4 py-5 text-center more_info__container">
  <div class="py-5">
    <h1 class="display-6 fw-bold text-white">Simple, Fast, Reliable Room Reservations</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Browse available rooms, check schedules, and secure your spot in seconds. Your space, your time.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= link_to "See Floors", floors_path, class: "btn btn-primary btn-lg px-4 me-sm-3 fw-bold" %>
        <%= link_to "See Buildings", buildings_path, class: "btn btn-secondary btn-lg px-4" %>
      </div>
    </div>
  </div>
</div>