<div class="card mt-4 shadow-sm bg-dark text-white">
  <div class="card-header bg-secondary text-white">
    <h2 class="mb-0">Floor Details</h2>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Name:</strong> <%= @floor.name %></p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <%if can? :edit, Floor %> 
      <div>
        <%= link_to edit_floor_path(@floor), class: 'btn btn-primary btn-sm me-2' do%>
          <i class="fa-solid fa-pen-to-square"></i> Edit
        <%end%>
    <%end%>

    <%if can? :destroy, Floor %> 
        <%= link_to floor_path(@floor), method: :delete, class: "btn btn-sm btn-danger", :data => {:confirm => "Are you sure you want to delete the Floor #{@floor.name}?"} do%>
          <i class="fa-regular fa-trash-can me-1"></i> Delete
        <%end%>
      </div>
    <%end%>
    <div>
      <%= link_to floors_path, class: 'btn btn-secondary' do%>
        <i class="fa-solid fa-arrow-left"></i> Back
      <%end%>
    </div>
  </div>
</div>
