<div class="error-container">
  <div class="error-content">
    <h1>Internal Error - 500</h1>
    <div class="alert alert-danger" role="alert">
      an unexpected error occurred!
    </div>
    <%= link_to root_path, class: "btn btn-warning" do %>
      Go back to Home Page
    <% end %>
  </div>
</div>
