<div class="error-container">
  <div class="error-content">
    <h1>Not found - 404</h1>
    <div class="alert alert-danger" role="alert">
      The resource you are looking for does not exist!
    </div>
    <%= link_to root_path, class: "btn btn-warning" do %>
      Go back to Home Page
    <% end %>
  </div>
</div>
