<div class="error-container">
  <div class="error-content">
    <h1>Unauthorized - 401</h1>
    <div class="alert alert-danger" role="alert">
      You are not authorized to access this resource!
    </div>
    <%= link_to root_path, class: "btn btn-warning" do %>
      Go back to Home Page
    <% end %>
  </div>
</div>
