<div class="text-center mb-3">
  <h2 class="display-5 fw-bold text-body-emphasis">Create a new Room!</h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Fill all the information and register a new room to the database.</p>
  </div>
</div>

<div class="card card-header p-3">
  <%= render 'form', room: @room %>
</div>