.main-container{
  min-height: 70vh;
}

#footer span, #footer a{
  color: white !important;
  margin-bottom: 0;
}

#reservations_results_table{
  border-radius: 10px !important;
}

.new-room-form{
  border-radius: 10px;
}

.error-container {
  font-family: Arial, sans-serif;
  margin-top: 50px;
}
.error-content {
  color: #721c24;
  text-align: center;
  padding: 50px;
  border: 1px solid #f5c6cb;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0px auto 100px auto;
}
h1 {
  margin-bottom: 20px;
  font-size: 36px;
}
.alert {
  font-size: 18px;
  margin-bottom: 30px;
}
.btn {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
}

.reservation-box select{
  border-radius: 10px;
  padding: 4px;
  margin: 15px 4px;
}

.custom-select{
  border-radius: 10px;
  padding: 4px;
  margin: 15px 4px;
}

.search-form{
  background-color: rgb(243, 243, 243);
  /* background-color: #dadada; */
  /* background-color: rgb(242, 242, 242); */
  color: black;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

.table-container{
  background-color: rgb(114, 110, 110);
  padding: 12px;
  border-radius: 20px;
}

.results-table tr:nth-child(even) {
  background-color: #b9b9b9;
}

.results-table tr:nth-child(odd) {
  background-color: #dadada;
}

.results-table th, .results-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
} */

.auth-container {
  max-width: 600px;
  margin: 80px auto 0 auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e0e0e0;
}
.auth-container .field {
  margin-bottom: 15px;
}
.auth-container .form-group label {
  color: #e0e0e0;
}
.auth-container .form-control {
  background-color: #333;
  border: 1px solid #555;
  color: #e0e0e0;
}
.auth-container .form-control:focus {
  background-color: #444;
  border-color: #777;
}
.auth-container .checkbox label {
  color: #e0e0e0;
}
.auth-container .actions {
  text-align: center;
}
.btn-primary {
  background-color: #6200ea;
  border-color: #6200ea;
}
.auth-container .btn-primary:hover {
  background-color: #3700b3;
  border-color: #3700b3;
}



#more_info{
  width: 100%;
  position: absolute;
  left: 0;
  margin: 60px 0 30px 0;
}

#more_info .more_info__container{
  height: 350px;
}

#end_section{
  margin-top: 520px;
  margin-bottom: 90px;
}

/* institutions style */
.institution-selection-item {
  text-decoration: none;
  transition: 0.8s all;
  display: block;
}

.institution-selection-item:hover {
  transform: scale(1.02);
}

#institution-container h1{
  font-size: 30px;
  font-weight: bold;
}

#institution-container ul{

}

#institution-container li{
  list-style: none;
}

.institution-name{
  font-size: 25px;
}

.institution-item{
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #363636;
  padding: 5px 20px;
  height: 80px;
  margin: 5px 0;
}

.institution-information{
  display: flex;
  gap: 15px;
  font-size: 18px;
}

#institution-container .card-header{
  background-color: #363636;
  color: white;
}

#institution-container .card-footer{
  background-color: #363636;
  color: white;
}

/* WILL PAGINATE STYLE */

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }